<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pretty_Binding</key>
	<dict>
		<key>Time</key>
		<dict>
			<key>day</key>
			<string>days</string>
			<key>hour</key>
			<string>hours</string>
			<key>millisecond</key>
			<string>milliseconds</string>
			<key>minute</key>
			<string>minutes</string>
			<key>second</key>
			<string>seconds</string>
			<key>week</key>
			<string>weeks</string>
			<key>year</key>
			<string>years</string>
		</dict>
		<key>Length</key>
		<dict>
			<key>Kilometer</key>
			<string>Kilometers</string>
			<key>Foot</key>
			<string>Feet</string>
			<key>Meter</key>
			<string>Meters</string>
			<key>Inch</key>
			<string>Inches</string>
			<key>Mile</key>
			<string>Miles</string>
			<key>Yard</key>
			<string>Yards</string>
		</dict>
		<key>Area</key>
		<dict>
			<key>Acre</key>
			<string>Acres</string>
			<key>Hectare</key>
			<string>Hectares</string>
			<key>Square Mile</key>
			<string>Square Miles</string>
			<key>Square Km</key>
			<string>Square Kms</string>
		</dict>
		<key>Volume</key>
		<dict>
			<key>Liter</key>
			<string>Liters</string>
			<key>Gallon</key>
			<string>Gallons</string>
			<key>Milliliter</key>
			<string>Milliliters</string>
		</dict>
	</dict>
	<key>Categories</key>
	<array>
		<string>Time</string>
		<string>Length</string>
		<string>Area</string>
		<string>Volume</string>
	</array>
	<key>Base_Types</key>
	<dict>
		<key>Time</key>
		<string>second</string>
		<key>Length</key>
		<string>Meter</string>
		<key>Area</key>
		<string>Acre</string>
		<key>Volume</key>
		<string>Liter</string>
	</dict>
	<key>Time</key>
	<dict>
		<key>day</key>
		<integer>86400</integer>
		<key>hour</key>
		<integer>3600</integer>
		<key>millisecond</key>
		<real>0.001</real>
		<key>minute</key>
		<integer>60</integer>
		<key>second</key>
		<integer>1</integer>
		<key>week</key>
		<integer>604800</integer>
		<key>year</key>
		<integer>31449600</integer>
	</dict>
	<key>Length</key>
	<dict>
		<key>Kilometer</key>
		<integer>1000</integer>
		<key>Foot</key>
		<real>0.3048</real>
		<key>Meter</key>
		<integer>1</integer>
		<key>Inch</key>
		<real>0.0254</real>
		<key>Mile</key>
		<real>1609.34</real>
		<key>Yard</key>
		<real>0.9144</real>
	</dict>
	<key>Area</key>
	<dict>
		<key>Acre</key>
		<integer>1</integer>
		<key>Hectare</key>
		<real>2.47105</real>
		<key>Square Mile</key>
		<integer>640</integer>
		<key>Square Km</key>
		<real>247.105</real>
	</dict>
	<key>Volume</key>
	<dict>
		<key>Liter</key>
		<integer>1</integer>
		<key>Gallon</key>
		<real>3.78541</real>
		<key>Milliliter</key>
		<real>0.001</real>
	</dict>
</dict>
</plist>
